<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<connectionStrings>
		<add name="SysMan" connectionString="Data Source = (local); User Id = sa; pwd = @technodrugs@; Initial Catalog = OnTrackSysMan;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30" providerName="SQlClient" lockItem="true"/>
		<add name="HR" connectionString="Data Source = (local); User Id = sa; pwd = @technodrugs@; Initial Catalog =OnTrackHR;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30" providerName="SQlClient" lockItem="true"/>
	</connectionStrings>
	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\globalLog.log"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="20"/>
			<maximumFileSize value="5MB"/>
			<staticLogFileName value="true"/>
			<datePattern value="yyyyMMdd"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level %logger %date{ISO8601} - %message%newline"/>
			</layout>
		</appender>
		<root>
			<!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
			<level value="INFO"/>
			<appender-ref ref="RollingFile"/>
		</root>
	</log4net>
	<appSettings>
		<add key="empImagePath" value="~/Content/EmpImage/"/>
		<add key="empAttachmentPath" value="~/Content/EmpAttachment/"/>
		<add key="AttendanceFile" value="~/Content/AttendanceFile/"/>
		<add key="PaySlipFile" value="~/Content/PaySlipFile/"/>
		<!--this is for deployment where you have must a virtual directory.
    if there is no virtual directory then the 'value' field keep blank-->
		<!--<add key="urlRoot" value="http://localhost/wings-erp"/>-->
		<add key="urlRoot" value=""/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<!--<assemblies>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/></assemblies>-->
    </compilation>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler,        Microsoft.ReportViewer.WebForms, Version=10.0.0.0,        Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<pages theme="Default" validateRequest="false" enableViewStateMac="true" enableEventValidation="false">
			<!--<controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>-->
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler,        Microsoft.ReportViewer.WebForms, Version=10.0.0.0,        Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
</configuration>
