.menu
{
	float: right;
	padding-top: 2px;

	/*width: 300px;
	
	background: #999;*/
}

#menu-heading
{
	/*background: red;*/
	float: right;	
	padding-top: 44px;	
	
}

.menu-close
{
	
	/*background-color: #FF8608;*/

	background-color: #F7B64D;
	margin-bottom: 95px;
	overflow: auto;	
	
	padding: .1em .4em;
	cursor: pointer;
	color: White;
	
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;		
	-moz-transform: rotate(90deg);
	margin-right: -44px;
}

.menu-close-text
{
	float: right;
	text-align: center;
	margin-top:5px;
	
	overflow: hidden;
	width: 110px;
	height: 20px;
	font: 110% "Verdana",sans-serif;

	/*For truncate text*/
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');		
}	

#menu-body
{
	/*position: absolute; 
	padding-left: 24px;
	padding-top: 0;
	margin-top: -40px;
	background: green;*/
	float: right;
	margin-right: -44px;	
}

.menu-open
{
	/*height: 250px;*/
	width: 200px;
	border: solid 2px #F7B64D;
	background: #FDF7EA;
	min-height: 218px;

		
	overflow: auto;	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	padding: 10px 8px;
}
